.auth__form {
  background: var(--primary-color);
  padding: 40px;
  border-radius: 5px;
}

.auth__btn {
  background: #fff;
  color: var(--primary-color);
  font-weight: 600;
}

.auth__form p {
  color: #fff;
  margin-top: 10px;
}

.auth__form p a {
  font-weight: 600;
  color: var(--hero-bg);
}
