body {
  font-family: 'Montserrat', sans-serif !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  padding: 0;
  margin: 0;
}

body p {
  color: var(--small-text-color);
  font-size: 1rem;
}

body h1,
body h2 {
  font-size: 2rem;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: unset;
}

body img {
  width: 100%;
}

body section {
  padding: 20px 0;
}

.section__title {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 30px;
}
