@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

:root {
  --card-bg-01: #c9b3b7;
  --card-bg-02: #be959e;
  --card-bg-03: #a56673;
  --card-bg-04: #8a5660;
  --primary-color: #911f36;
  --secondary-color: #fece48;
  --hero-bg: #f7e2a9;
  --heading-fontSize: 2rem;
  --small-text-color: #b93833;
  --heading-text-color: #911f36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
